<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.legend.kanfanba">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".utils.KanApp"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/LinStyle"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".search.activity.SearchActivity">

        </activity>

        <service
            android:name=".download.service.DownloadService"
            android:exported="false">

        </service>

        <activity android:name=".download.activity.DownloadActivity" />
        <activity android:name=".main.activity.EpisodeActivity" />
        <activity
            android:name=".play.activity.PlayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            />
        <activity android:name=".main.activity.MainActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>